  #main-div1 {
    margin-top: 1%;
  }
  
  #border {
    border: none;
  }
  
  #img {
    width: 150px;
    height: 180px;
  }
  
  .navbar-nav {
    font-size: smaller;
  }
  
  .custom-bg {
    background-color: #d8e8fd;
  }
  
  .navbar-nav .nav-item {
    margin: 0 15px;
  }
  
  .custom-font-size {
    font-size: 3.5rem;
  }
  
  .custom-button1 {
    border: none;
    background-color: #d8e8fd;
    border-radius: 10px;
    height: 2.4rem;
    width: 30%;
  }
  
  .custom-button2 {
    margin-left: 3%;
    background-color: white;
    border-radius: 10px;
    height: 2.4rem;
    width: 30%;
  }
  
  .par-frame {
    width: 330px;
    height: 430px;
    border-top-left-radius: 50% 135px;
    border-top-right-radius: 50% 135px;
    border-bottom-left-radius: 50% 135px;
    border-bottom-right-radius: 50% 135px;
    border: 1px solid;
    padding: 3%;
  }
  
  .frame {
    width: 300px;
    height: 400px;
    border-top-left-radius: 50% 120px;
    border-top-right-radius: 50% 120px;
    border-bottom-left-radius: 50% 120px;
    border-bottom-right-radius: 50% 120px;
    overflow: hidden;
  }
  
  .frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .star-svg {
    position: absolute;
    right: 40%;
  }
  
  .custom-margin-right {
    margin-right: 0px; 
 }
  
  .custom-font {
    font-size: 15px;
  }
  
  .custom-border {
    border-bottom: 1px solid;
    border-color: lightgray;
  }
    .custom-inputButton {
    background-color: #E2E2E2;

    margin-top: 10px;
    display: flex;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  .input-field {
    background-color: #E2E2E2;

    flex: 1;
    height: 25px;
    border: none;
    padding: 5px;
    outline: none;
  }
  
  .custom-button {
    margin-top: 5px;
    border-radius: 0 !important;
    height: 15px;
    border-left: 1px solid lightgray;
    font-size: 11px;
    width: auto; 
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    padding: 0px 10px;
    cursor: pointer; 
  }
  
.custom-margin-left{
    margin-left: -60px;
}

.background-div {
background-image: url('lightCir.png');
background-size: 70% 70%; 
background-repeat: no-repeat;
background-position: center center;
width: 100%;
height: 100%;

}

  @media (min-width: 1201px) {
    .custom-margin-lefts{
        margin-left: 50px;
    }
    .custom-margin-left-footer{
        margin-left: 70px;
    }
    .card-services{
        margin-right: 100px;}
  }

  @media (min-width: 770px) and (max-width: 1200px) {
.par-button-div{margin-bottom: 10px;}

.par-frame {
  
    padding: 3%;
  }

    .custom-button1{
        width: 250px; 
        font-size: inherit;
    }
    .custom-button2{
        width: 250px; 
        font-size: inherit;
    }
  }
  @media (min-width: 7690px) and (max-width: 769px) {
    .custom-button1{
        width: 40%; 
        font-size: inherit;
    }
    .custom-button2 {
        font-size: inherit;
      width: 40%; 
    }
    .par-frame {
  
        padding: 5%;
      }
  }
  
  @media (max-width: 768px) {
    .custom-margin-left{margin-left: 10px;}

    .par-button-div{margin-bottom: 20px;}
    .par-frame {
  
        padding: 3%;
      }
    .navbar-nav .nav-item {
      margin: 0 10px; 
    }
  
    .custom-font-size {
      font-size: 2.5rem;
    }
  
    .custom-button1{
        width: 40%; 
        font-size: inherit;
    }
    .custom-button2 {
        font-size: inherit;
      width: 40%; 
    }
  
  }
  
  
  @media (max-width: 576px) {
    .custom-margin-left{margin-left: 10px;}

    .par-button-div{margin-bottom: 20px;}
    .par-frame {
  
        padding: 4%;
      }
    .navbar-nav .nav-item {
      margin: 0 5px; 
    }
  
    .custom-font-size {
      font-size: 2rem; 
    }
  
    .custom-button1,
    .custom-button2 {
      width: 50%;
    }
  
  }
  
.custom-small-text{
    font-size: 10px;
    margin-left: 15px;
}

.custom-margin-bottom {
    margin-bottom: 20% !important; 
  }

  .custom-margin-top {
    margin-top: 20px !important; 
  }